.video-text {
  position: absolute;
  bottom: 13%;
  color: #fff;
  display: flex;
  margin-bottom: 20px;
}

.video-text > h3 {
  margin-left: 20px;
}

.footer-buttons {
  position: absolute;
  bottom: 13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.flex-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
